/* Sytles Skill Bar value*/
* {
  box-sizing:content-box ;

}


/* Conteiner Skill Bar */
.container {
  
  background-color: #ddd; 
  align-items: center;
  
  
}
/* Todas as Skill bar */
.skills {
  text-align: right; 
  padding-top: 10px; /* title no top */
  padding-bottom: 10px; /* padding espaçamento -- top / bottom */
  color: white; /* cor do %  */
}

/* Cada bar -- suas cores e % */
.html {
  width: 90%;
  background-color: #4CAF50;
}
.css {
  width: 80%;
  background-color: #2196F3;
} 
.js {
  width: 65%;
  background-color: #f44336;
} 
.php {
  width: 60%; 
  background-color: #808080;
} 


/* Icones de Contato */
/* style de icon */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  
  /* Efeito ao passar mouse */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* cor de cada icon */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }

  *  {
    margin:0;
    padding:0;
}
html, body {height:100%;}
  .dContato{
      position: static;
      bottom: 0;
      width: 100%;
      background-color: #808080;
      align-items: center;
      text-align: center;
     
      display: flex;
      
      
  }
.contatoItens{
        background-color: blueviolet;
        height: 100%;
        width: 100%;
         margin: 3px  5px;
        justify-content: space-between;
        
}
  .dBody{
    
    position:static;
    width:85%;
    background-color: #78909C;
    align-items: center;
    margin: 0 auto;
    margin-top: 122px;
 
    box-shadow: -7px -10px 20px #151515, 6px 9px 15px #151515;
    -webkit-box-shadow: -7px -10px 20px #151515, 6px 9px 15px #151515;
    -moz-box-shadow: -7px -10px 20px #151515, 6px 9px 15px #151515;
  }

  #header {
    background-color: #CFD8DC; 
    padding: 20px 10px; 
    color: black;
    text-align: center; 
    font-size: 15px; 
    font-weight: bold;
    position:  fixed; 
    top: 0;
    width: 100%; 
    transition: 0.4s; 
    
  }

  body{
    background-color: #263238;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  /* SlideShow imgs Projects */


/* Slideshow container */
.slideshow-container {
  max-width: 350px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #263238;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{
  left: 0;
  border-radius: 3px 0 0 3px;

}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(255,255,255,0.7);
}

/* Caption text */
.text {
  color: #000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-weight: 700;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.slideContainer {
  background-color: #4CAF50;
  display: flex;
 flex-direction: row;
 
}
.slideTitle{
  background-color: #f24431;
}

.slidebox1{
  background-color: #2196F3;
  margin: 10px;
}

.slidebox2{
  background-color: #f44336;
}